@use '../theme/color';
@use '../component/add-area';
@use '../component/to-do-list';
@use '../component/event-add';
@use '../component/check-button';
.main {
    background-color: color.$gray-scale;
    padding-top: 24px;

    & p {
        padding: 0 32px 17px 32px;
        margin-top: 8px;
        @extend %remark_regular-italic;
        color: color.$gray-200;
    }
}
