@use '../theme/font';
@use '../theme/color';

.check-button {
    display: flex;
    & button {
        display: block;
        flex: 1 1 auto;
        outline: none;
        width: 310px;
        height: 60px;
        cursor: pointer;
        @extend %title;
        border: none;
        background-color: color.$white;

        &:hover {
            background-color: color.$blue;
            color: color.$white;
        }

        &:nth-of-type(1) {
            color: color.$red;
        }

        & i {
            margin-right: 14px;
        }
    }
}
