@charset "UTF-8";
html,
body,
h1,
h2,
h3,
p,
ul,
li,
form,
label,
input {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin-right: 0;
  margin-left: 0;
  max-width: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 60.546875%;
  }
}

.check-button button, .card span, .nav a, .nav a:focus, .nav a:hover {
  font-size: 24px;
  font-family: Roboto;
}
.nav a:focus, .nav a:hover {
  font-weight: 500;
}
.nav a {
  font-weight: 400;
}
.deadline span, .file span, .comment span {
  font-size: 20px;
  font-family: font-family;
}
.deadline span, .file span, .comment span {
  font-weight: 500;
}
.main p {
  font-size: 24px;
  font-family: font-family;
}
.main p {
  font-weight: 400;
  font-style: italic;
}

.add-area input {
  font-size: 24px;
  font-family: Roboto;
}
.add-area input {
  font-weight: 400;
}
.nav {
  width: 64.453125%;
  margin-right: auto;
  margin-left: auto;
}

.nav a {
  display: block;
  text-align: center;
  flex: 0 1 33.3333333333%;
  color: #00408b;
  padding-top: 23px;
  padding-bottom: 25px;
  position: relative;
}
.nav a:focus, .nav a:hover {
  color: #ffffff;
}
.nav a:focus::before, .nav a:hover::before {
  content: "";
  display: block;
  width: 72.7272727273%;
  height: 5px;
  background-color: #00408b;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav-text {
  display: none;
}
@media (min-width: 768px) {
  .nav-text {
    display: flex;
  }
}

.nav-icon {
  display: flex;
}
@media (min-width: 768px) {
  .nav-icon {
    display: none;
  }
}

.header {
  background-color: #4a90e2;
}

.add-area {
  position: relative;
  margin-bottom: 24px;
}
.add-area i {
  position: absolute;
  top: 23px;
  left: 33px;
}
.add-area i {
  font-size: 24px;
  color: #c8c8c8;
}
.add-area input {
  width: 100%;
  border: 2px solid #c8c8c8;
  border-radius: 5px;
  outline: none;
  padding-left: 67px;
  padding-top: 19px;
  padding-bottom: 18px;
}
.add-area input::placeholder {
  color: #c8c8c8;
}

.task {
  background-color: #fff2dc;
}
.task #task:checked + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
.task #task:checked + label::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 6px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  transform: rotate(-45deg);
  z-index: 51;
}

.progress {
  background-color: #f2f2f2;
}
.progress #progress:checked + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
.progress #progress:checked + label::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 6px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  transform: rotate(-45deg);
  z-index: 51;
}

.complete {
  padding: 24px 32px;
  background-color: #f2f2f2;
}
.complete .card {
  margin-bottom: 0;
}
.complete .card-title span {
  text-decoration: line-through;
  color: #c8c8c8;
}
.complete #complete:checked + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
.complete #complete:checked + label::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 6px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  transform: rotate(-45deg);
  z-index: 51;
}

.to-do-list {
  margin-top: 8px;
  border-radius: 5px;
  padding: 20px 10px 20px 10px;
}
.to-do-list .edit-area {
  display: none;
}

@media (min-width: 576px) {
  .to-do-list {
    padding: 32px 32px 17px 32px;
  }
  .to-do-list .edit-area {
    display: block;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
.card .card-title {
  display: flex;
}
.card .check-area {
  font-size: 0;
}
.card input {
  display: none;
}
.card label {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 16px;
  background-color: white;
  position: relative;
}
.card span {
  vertical-align: middle;
  color: #000000;
}
.card .edit-area {
  font-size: 0;
}
.card .edit-area i {
  vertical-align: middle;
  font-size: 24px;
}
.card .edit-area i + i {
  margin-left: 32px;
}
.card .edit-area .important {
  color: #f5a623;
}

.status {
  font-size: 0;
  margin-left: 50px;
}
.status i {
  font-size: 16px;
  margin-left: 16px;
}
.status .date {
  display: inline-block;
  font-size: 0;
}
.status .date i {
  margin-left: 0;
}
.status .date span {
  font-size: 16px;
  margin-left: 8px;
}

.event-edit {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 1px 1px 1px #c8c8c8;
  overflow: hidden;
}
.event-edit .card {
  border-bottom: 3px solid #c8c8c8;
  padding: 24px 32px;
  margin-bottom: 24px;
}

.deadline {
  padding: 0 32px 0 72px;
  font-size: 0;
  margin-bottom: 24px;
}
.deadline .deadline-icon {
  margin-bottom: 8px;
  font-size: 0;
}
.deadline span {
  vertical-align: middle;
}
.deadline i {
  margin-right: 9px;
  font-size: 20px;
  vertical-align: middle;
}
.deadline .date-area {
  display: flex;
  margin-left: 25px;
}
.deadline input {
  padding: 8px 0 8px 16px;
  width: 162px;
}
.deadline input + input {
  margin-left: 8px;
}

.file {
  padding: 0 32px 0 72px;
  font-size: 0;
  margin-bottom: 27px;
}
.file .file-icon {
  margin-bottom: 8px;
  font-size: 0;
}
.file span {
  vertical-align: middle;
}
.file i {
  margin-right: 9px;
  font-size: 20px;
  vertical-align: middle;
}
.file .add-file {
  width: 32px;
  height: 32px;
  margin-left: 25px;
  background-color: #c8c8c8;
  outline: none;
  cursor: pointer;
  position: relative;
}
.file .add-file::before {
  content: "";
  display: block;
  text-align: center;
  width: 20px;
  height: 20px;
  font-family: "Font Awesome 5 pro";
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.comment {
  padding: 0 32px 0 72px;
  font-size: 0;
  margin-bottom: 24px;
}
.comment .comment-icon {
  margin-bottom: 8px;
  font-size: 0;
}
.comment span {
  vertical-align: middle;
}
.comment i {
  margin-right: 9px;
  font-size: 20px;
  vertical-align: middle;
}
.comment .comment-area {
  width: 445px;
  height: 120px;
  outline: none;
  resize: none;
  padding: 8px 16px;
  margin-left: 24px;
  border: none;
  border-radius: 2px;
}

.check-button {
  display: flex;
}
.check-button button {
  display: block;
  flex: 1 1 auto;
  outline: none;
  width: 310px;
  height: 60px;
  cursor: pointer;
  border: none;
}
.check-button button:hover {
  background-color: #4a90e2;
  color: #ffffff;
}
.check-button button:nth-of-type(1) {
  color: #d0021b;
}
.check-button button i {
  margin-right: 14px;
}

.main {
  background-color: #e1e1e1;
  padding-top: 24px;
}
.main p {
  padding: 0 32px 17px 32px;
  margin-top: 8px;
  color: #c8c8c8;
}

/*# sourceMappingURL=index.css.map */
